.Dice__container {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.Title {
    margin-bottom: 10px;
    text-align: center;
    color: #333333;
    font-weight: bolder;
}

.Dice__images {
    height: 270px;
    background-color: #b5a8bf;
}

.Dice__pic {
    padding: 75px 100px;
    height: 6em;
}

.Dice__btnContainer {
    display: flex;
    justify-content: space-around;
    width: 25vw;
}

button {
    margin-top: 12px;
    padding: 20px 40px;
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: #c3bfbf;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.5s;
}
button:hover {
    background-color: #9b9696;
    color: #000000;
}
.buttonDisabled {
    background-color: #9b9696;
}

.Dice__text {
    position: relative;
    top: -70px;
    text-align: center;
    color: #333333;
    font-weight: bolder;
}

.Active {
    padding: 75px 100px;
    height: 6em;
    animation: shake 0.5s ease infinite; /* Применяем анимацию кубика */
}

@keyframes shake {
    0% { transform: rotate(0); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(-15deg); }
    75% { transform: rotate(10deg); }
    100% { transform: rotate(0); }
  }
  
